---
import { getEntry } from 'astro:content';
import Layout from '../../../../layouts/Layout.astro';

const entry = await getEntry('docs', 'team/design/t-shirt-sizing');
const { Content } = await entry.render();

const breadcrumbs = [
  { text: 'Design Team', href: '/docs/team/design' },
  { text: 'T-shirt Sizing' }
];
---

<Layout title={entry.data.title} breadcrumbs={breadcrumbs}>
  <main class="py-8 px-4 sm:px-6 lg:px-8">
    <article class="max-w-[680px] mx-auto">
      <div class="prose">
        <Content />
      </div>
    </article>
  </main>
</Layout>